/* GLOBAL VARIABLES - COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}

:root {
    --main-color: #001D5D;
    --secondary-color: #B8BFCF;
    --button-color: #D9F0D0;
    --button-dark: #68C242;
    --black-color: #000000;
    --grey-color: #525252;
    --white-color: #FFFFFF;
    --light-grey-color: #F6F6F6;
}

/* MAIN */
body {
    font-family: 'Karla', sans-serif; 
    width: 100%;
}

/* HEADER - NAV */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;
    width: 100%;
    background-color: var(--white-color);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    margin: auto;
}

nav ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--main-color);
}

/* HEADER - HERO */
header {
    background-image: url("../images/banner.png");
    background-size: cover;
    color: var(--white-color);
    text-decoration: none;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#hero-banner {
    margin-top: 5em;
}

#hero-banner h1 {
    font-size: 65px;
    letter-spacing: 0.73;
}

#hero-banner a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#hero-banner p {
    line-height: 1.5em;
}

/* MAIN */
#about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4em;
}

#about-img {
    width: 50%;
    height: 100%;
}

#about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.5em;
    padding-left: 1em;
}

#about-text p {
    color: var(--grey-color);
}
/* GOOGLE MAPS */
#map {
    margin: auto;
    position: relative;
    height: 100%;
    width: 100%;
}

/* NEW RELEASES SECTION */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4em;
}

#slider-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* GET IN TOUCH */
#get-in-touch {
    display: flex;
    flex-direction: row;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: var(--white-color);
}

footer ul li {
    list-style: none;
    letter-spacing: 1.25px;
    line-height: 1.75em;
}

footer ul li a {
    color: var(--white-color);
    text-decoration: none;
}

hr {
    height: 0.25px;
    border: none;
    background-color: var(--light-grey-color);
}
.footer-container {
    margin: 1em;
}

.footer-section {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    margin: 1em;
}

.footer-section p {
    padding-right: 1.5em;

}
.list-title {
    text-transform: uppercase;
    font-weight: bold;
}

.footer-item {
    margin-top: 1em;
    margin-bottom: auto;
    justify-content: stretch;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-weight: bold;
}

.social-logos {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}

/* UTILITY CLASSES */
.btn {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    background-color: var(--button-color);
    border: none;
    color: var(--button-dark);
    padding: 10px 20px;
    width: 150px;
}

.icon {
    padding: .25em;
}

.nav-item {
    padding: 0 1em;
    font-weight: bold;
}

.section-header {
    font-size: 40px;
    letter-spacing: 0.73px;
    color: var(--main-color);
}

.main-logo {
    height: 6em;
    width: 6em;
    padding-top: 0;
}

/* GRID / FLEXBOX UTILITY CLASSES */
.row {
    display: flex;
    flex-direction: row;
}